<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Object Detection Web App</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <button type="submit">Upload Image</button>
    </form>

    {% if uploaded_image %}
        <h2>Uploaded Image</h2>
        <img src="{{ url_for('static', filename='uploads/' ~ uploaded_image) }}" alt="Uploaded Image" width="500">
    {% endif %}

    {% if result_image %}
        <h2>Detected Objects</h2>
        <img src="{{ url_for('static', filename='uploads/' ~ result_image) }}" alt="Result Image" width="500">
    {% endif %}

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
